---
import { Icon } from "@astrojs/starlight/components";
---

<div class="flex flex-row items-center justify-center" style="height: 2em">
  <Icon name="approve-check-circle" color="#00FF00" size="1.5em" />
</div>
