.main-frame > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/vrti_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25;
}

.hero-html {
  width: min(90%, 30rem) !important;
}

.hero-image {
  @apply relative w-full;
  aspect-ratio: 498/788;

  img {
    @apply w-full absolute top-1/2 -translate-y-1/2;
  }

  @media (min-width: 50rem) {
    img {
      @apply right-0 w-[150%];
    }
  }
}
