.hero-html {
  width: min(100%, 30rem) !important;
}

.hero-image {
  @apply relative w-full;
  aspect-ratio: 1739/2022;

  img {
    @apply w-full absolute top-1/2 -translate-y-1/2;
  }

  @media (min-width: 50rem) {
    img {
      @apply right-0 w-[150%];
    }
  }
}

.card {
  border: 1px solid var(--sl-color-gray-5);
  background-color: var(--sl-color-black);
  padding: clamp(1rem, calc(0.125rem + 3vw), 2.5rem);
  flex-direction: column;
  gap: clamp(0.5rem, calc(0.125rem + 1vw), 1rem);
}
