@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode colors. */
:root {
  --sl-color-accent-low: theme("colors.white");
  --sl-color-accent: theme("colors.white");
  --sl-color-accent-high: theme("colors.white");
  --sl-color-white: theme("colors.white");
  --sl-color-gray-1: theme("colors.gray.300");
  --sl-color-gray-2: theme("colors.gray.400");
  --sl-color-gray-3: theme("colors.gray.500");
  --sl-color-gray-4: theme("colors.gray.600");
  --sl-color-gray-5: theme("colors.gray.700");
  --sl-color-gray-6: theme("colors.gray.800");
  --sl-color-gray-7: theme("colors.gray.900");
  --sl-color-black: theme("colors.black");

  --sl-color-bg-sidebar: theme("colors.black");
  --sl-color-bg-nav: transparent;
  --sl-color-text-invert: theme("colors.black");
}

header {
  background-color: transparent;
  backdrop-filter: blur(16px);
  border-bottom: 1px solid transparent !important;
}

.social-icons::after {
  display: none;
}

.docs-image-row {
  @apply flex flex-col;
  &>img {
    @apply rounded shrink-0 block;
  }
  &>div {
    @apply flex-1;
  }
  @media (max-width: 50rem) {
    &>img {
      @apply max-w-[80%] ml-auto mr-auto;
    }
  }
  @media (min-width: 50rem) {
    @apply flex-row items-start;
    &>img {
      @apply ml-8 shrink-0 h-auto;
    }
  }
}
